#Contenedor{
    border-style: solid;
    border-width: 5px; 
    border-radius: 5px;
    border-color: black;
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    display: flex;
   

}

#Rojo{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 1px; 
    background-color: red;
   text-align: center;
   color: white;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

#Azul{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 1px; 
    margin-bottom: 20px;
    background-color: blue;
   text-align: center;
   color: white;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

#Verde{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 1px; 
    margin-bottom: 20px;
    background-color: green;
   text-align: center;
   color: white;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
 align-content: end;
}